#Mytitle {

    background-color: rgb(67, 59, 212);
    border: 1;
    border-style: dashed;


}

#Adiv {
    background-color: aqua;

    border-style: dashed;


}

#Bdiv {
    background-color: blueviolet;

    border-style: dashed;

}

#Cdiv {
    background-color: cadetblue;

    border-style: dashed;

}

#Ddiv {
    background-color: aquamarine;

    border-style: dashed;


}

li {

    height: 50px;
    width: 100px;
    background-color: brown;
    border: 10%;
    margin: 50px;
    padding: 10px;

}

ul {
    list-style: none;
}

li:hover {
    background-color: fuchsia;
    Transition: 0.5s;
}


/* Wide Screen*/
@media only screen and (Max-width: 1920px) {
    .set {
        width: 500;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

}

@media only screen and (Max-width: 1500px) {
    .set {
        width: 400;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

}

@media only screen and (max-width: 1000px) {
    .set {
        width: 200;
        display: grid;
        grid-template-columns: 1fr;
    }

}